.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
 }
 
 .image-container img {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
p {
      font-size: 40px;
     text-align: center;
  }
